<div class="col-md-3 mx-auto my-auto float-left">
    {{!-- <a class="nav-link" rel="tooltip" title="" data-placement="top" href="./pet/{{id}}" data-original-title="{{likes}} likes"> --}}
    <img class="rounded border border-3 border-purple mb-3" src="{{url}}" style="width: 100%">
    {{!-- </a> --}}
    <button class="btn btn-light border border-secondary bg-info text-white delete-picture m-1" data-id="{{id}}">Delete</button>
    <a class="remove-mt mx-auto btn btn-primary btn-link uplike" data-id="{{id}}">like</a>
    <a><p class="mr-4 float-right" style="margin-top: -7px;">{{likes}} likes</p></a>
</div>