<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Pet</h5>
          <p>
            <strong>ID</strong>: {{pet.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{pet.UserID}}</p>
          <p>
            <strong>Text</strong>: {{pet.name}}</p>
          <p>
            <strong>Description:</strong> {{pet.species}}</p>
          <p>
            <strong>Description:</strong> {{pet.age}}</p>
          <p>
            <strong>Description:</strong> {{pet.profPic}}</p>
            <a href="/index2">← Back To Test Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
