<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Pet</h5>
          <p>
            <strong>ID</strong>: {{pets.id}}</p>
          <p>
            <strong>UserID</strong>: {{pets.UserId}}</p>
          <p>
            <strong>Name</strong>: {{pets.name}}</p>
          <p>
            <strong>Species:</strong> {{pets.species}}</p>
          <p>
            <strong>Breed:</strong> {{pets.breed}}</p>
          <p>
            <strong>Age:</strong> {{pets.age}}</p>
          <p>
            <strong>Bio:</strong> {{pets.bio}}</p>
          <p>
            <strong>Picture URL:</strong> {{pets.profPic}}</p>
            <a href="/index">← Back To Test Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
