{{> nav-block}}

<div class="container">
  <div class="main main-raised top-margin bottom-margin">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3 mt-3 mr-3 ml-3 mb-3 text-center">
            <img class="mb-3 rounded-circle border border-purple" src="{{pets.profPic}}" style="width: 100%; border-width:4px !important;">
            <a href="#pablo" class="btn btn-primary mr-2 ml-2"><i class="fa fa-envelope"></i></a>
            <a href="#pablo" class="btn btn-primary mr-2 ml-2"><i class="fa fa-address-card"></i></a>
            <a href="#pablo" class="btn btn-primary mr-2 ml-2"><i class="fas fa-user-plus"></i></a>
          </div>
          <div class="col-lg-6 mt-3 mr-3 ml-3 mb-3">
            <h2>{{pets.name}} <small class="ml-2"><small>{{pets.breed}}</small></small></h2>
            <h3 class="remove-mt"><small>{{pets.age}} years old</small></h3>
            <p> {{pets.bio}}</p>
            <p> Owned by <a href="../../user/{{pets.User.id}}">{{pets.User.name}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised mb-5">
    <div class="row mx-auto">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="card-title font-lato text-uppercase ml-3">My Photos</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 mx-auto">
            <div id="photos-container">
              {{#each pets.PetPhotos}}
                {{> petPhotos/petPhoto-block}}
              {{/each}}
            </div>
            {{!-- <div class="fix-to-bottom">
              <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">see all...</a>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer fixed-footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              About Us
            </a>
          </li>
          <li>
            <a href="#">
              GitHub Repo
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right font-roboto text-uppercase"><small class="font-white">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Petstagram.</small>
      </div>
    </div>
  </footer>
</div>